<div class="container">
   <footer class="footer">
     <small>
       CopyRight &copy; <a href="https://www.codepen.com">The Alpha Company</a>
       by <a href="https://www.zhehaolin.com">Zhehao Lin</a>
     </small>
       <nav>
          <ul>
              <li><%= link_to "About", about_path %></li>
          </ul>
       </nav>
   </footer>
</div>
